body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/logo.png');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.navbar {
    background-color: #333333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a, .navbar img, .navbar input[type="text"], .search-container:disabled {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar img {
    height: 60px;
}

.navbar input[type="text"] {
    border: none;
    padding: 6px;
    font-size: 15px;
}

.navbar a:hover, .navbar input[type="text"]:focus .search-container:disabled {
    background-color: darkred;
    color: white;
    border-radius: 15% / 40%;
    border: none;
}

.left, .center {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.right a{
    margin: 5px;
}

.search-container input[type="text"] {
    width: 250px; /* Ancho fijo */
    height: 40px; /* Altura fija */
    border-radius: 100px 0px 0px 100px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye el padding y borde en el ancho y altura */
    color: black;
}

.btn-search {
    background-color: green;
    color: white;
    border-radius: 0px 100px 100px 0px ;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

.logout-btn {
    background-color: #333333;
    color: white;
    border-radius: 15% / 40%;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.logout-btn:hover {
    background-color: darkred;
    color: white;
}

.post {
    background-color: darkred;
    color: white;
    border-radius: 50px  ;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    display: block;
    width: 550px;
    align-items: center;
    border: none;
    margin: 20px auto;
}

.post a {
    text-decoration: none;
    color: inherit;
}

.post button {
    padding: 10px 20px;
    font-size: 16px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta según el espacio que quieras debajo de la navbar */
}
.image-container img {
    max-width: 100%; /* Asegura que la imagen no sea más grande que el contenedor */
}